{% extends 'base.html' %}
{% load static %}

{% block title %}my blog{% endblock title %}

{% block content %}
    <div class="container-fluid">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
        <div class="row py-5" >
            {% for blog in blogs %}
            <div class="col-md-4 my-2" >
                <div class="card">
                   
                <img class="card-img-top" style="width: 24.4rem;height: 11rem;" src="{{ blog.banner.url }}" alt="Card image cap">
                <div class="card-body">
                    <p class="cart-text d-flex flex-row">
                        {{blog.post_title|striptags|safe|truncatewords:5 }}
                        <a class="px-2 ml-auto" href="{% url 'update' blog.slug %}"><i class="fa fa-edit"></i></a>
                        <a class="px-2" href="?delete={{blog.pk}}"> <i class="fa fa-trash text-danger"></i></a>
                    </p>
                </div>
                     
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-12">
        {% include 'paginator.html' %}
        </div>
    </div>
     
{% endblock content %}